<head>
   <script type="text/javascript">
      function preback(){
          window.history.forward()
      }
      setTimeout(preback(), 0);
      window.onunload = function(){null}
   </script>
   </head>


<div class="button_admincont" style="background-color: rgba(52,58,64,0.6);" >
  <form action="/home" method="POST">
  <button id="menu_adminbutton" value="submit" onmouseout="adminmenu()" onmouseover="adminmenu1()"><i class="fa fa-sign-out"></i>&nbspLogOut</button>
  </form>
</div>

<div class="row">
    <div class="admin_container">
    <img class="signUp_image" src="./w.png">
    <h1 class="admin_h2">user experience.</h1>
    </div>
    <br><br>
<div id="hide_it" style="display: block">
<div class="table_container" id="tableCont">
    <div class="index">
    <h3 id="title" style="padding-left: 100px; visibilty: visible">All Requests</h3>
    <div >
    
    <table class="table" style="table-layout: fixed; width: 100%; margin:auto">
        
    <thead>
        <tr>
            
            <th style="text-align: center;">Name</th>
            <th style="text-align: center; " >Task</th>
            <th style="text-align: center;">Due Date</th>
            <th style="text-align: center;">Status</th>
            <th style="text-align: center;"></th>
            
        
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td><button class="but1">{{this.username}}</button></td>
            <td><button class="but1" id="pass" value="{{{this.request}}}" onclick="showRequest('{{this.request}}')">{{this.task}}</button></td>
            <td><button class="but2">{{this.date}}</button></td>
            <td><button class="but4"><a href="/admintable/reject/{{this._id}}" style="text-decoration: none; color: white">Reject</a></button></td>
            <td><button class="but5"><a href="/adminTable/completed/{{this._id}}" style="text-decoration: none; color: white">Completed</a></button></td>
            
        </tr>        
        {{/each}}
    </tbody>
    
</table>
<br><br>
<p class="signIn_p3" style="color: green; padding-bottom: 20px">Click on task to see details</p>

</div>

</div>
</div>
<div class="color_overlay"></div>
</div>
</div>
<div id="req_disp" style="display:none; background-color: rgba(203,206,203,0.6);" >
    
        <textarea class="requestInput1" style="margin-left: 30px; margin-right: 30px; margin-top: 20px" id="myreq" type="text" name="request"></textarea><br><br>
    
        <button value="submit" class="request1_button" onclick="clickBut()">Close</button><br><br>
        </div>

<div class="counter_container">
    <div class="index">
    <p style="line-height: 40px; padding-left: 110px;font-weight:bold">TOTAL TASKS: {{{total}}}</p>
    <div class="form-row">
        <div class="pendingTask">
            <p style="font-weight:bold">PENDING TASKS</p>
            <button style="width: 180px; height: 80px; font-size:50px; text-align:center; font-weight:bolder"><p>{{pending}}</p></button>
        </div>
        <div class="completedTask" style="float: right;">
            <p style="font-weight:bold">COMPLETED TASKS</p>
            <button style="width: 180px; height: 80px; font-size:50px; text-align:center; font-weight:bolder"><p>{{completed}}</p></button>
        </div>

    </div>
    <br>
    </div>
    <div class="counter_overlay"></div>
</div>

<script>
    function showRequest(e){
        
        document.getElementById("hide_it").style.display = "none"
        document.getElementById("req_disp").style.display = "inline-block"
       var reqdisp =e.replace(/&lt;br&gt;/g, '\r\n')
        document.getElementById("myreq").innerHTML = reqdisp
        document.getElementById("title").style.display = "none"
       // document.getElementById("req_disp").style.marginLeft = "35%"


    }

    function clickBut(){
        document.getElementById("hide_it").style.display = "block"
        document.getElementById("req_disp").style.display = "none"
        document.getElementById("title").style.display = "block"
       // document.getElementById("tableCont").style.marginLeft = "5%"

        
    }

   function adminmenu1(){
        document.getElementById("menu_adminbutton").style.color = "white"
        document.getElementById("menu_adminbutton").style.backgroundColor = "#DC3545"
    }

    function adminmenu(){
        document.getElementById("menu_adminbutton").style.color = "#DC3545"
        document.getElementById("menu_adminbutton").style.backgroundColor = "rgba(52,58,64,0.3)"
    }
    
</script>