<div class="button_cont" style="background-color: rgba(52,58,64,0.6);" >
  <form action="/home" method="POST">
  <button id="menu_landbutton" value="submit" class="menu_landbutton" onmouseout="menul1()" onmouseover="menul()"><i class="fa fa-sign-out"></i>&nbspLogOut</button>
  </form>
</div>
<br><br>
<div class="landing_container">
    <img class="landing_image" src="./w.png">
    <h1 class="landing_h1">user experience.</h1>
</div>
<br><br>
    <div class="landing_comment">
        <h1>Hi {{name}}</h1>
    <p>Do you know we can help you with<br>all your creatives.<br>Why not tell us in the request box<br>
    what you want</p>
  </div>
    
    
    
    
    <div class="landing_form_container">
        
    
    <form action="/request" method="POST">
    <input type="hidden" name="username" value="{{name}}">
    <input type="hidden" name="password" value="{{password}}">
    <Button class="landing_button1" value="submit">Make a request</Button><br><br><br>
    </form>
    <form action="/view" method="POST">
    <input type="hidden" name="username" value="{{name}}">
    <input type="hidden" name="password" value="{{password}}">
    <button class="landing_button" value="submit">See all requests</button><br><br>
    <br><br><br>
  
    </div>
    </form>

    <script>
        function menul(){
        document.getElementById("menu_landbutton").style.color = "white"
        document.getElementById("menu_landbutton").style.backgroundColor = "#DC3545"
        }

        function menul1(){
        document.getElementById("menu_landbutton").style.color = "#DC3545"
        document.getElementById("menu_landbutton").style.backgroundColor = "rgba(52,58,64,0.3)"
        }
    </script>