{{!-- <head>
   <script type="text/javascript">
      function preback(){
          window.history.forward()
      }
      setTimeout(preback(), 0);
      window.onunload = function(){null}
   </script>
   </head> --}}

  <div class="button_reqcont" style="background-color: rgba(52,58,64,0.6);" >
    <form action="/landpage" method="POST">
      <input type="hidden" name="username" value="{{name}}">
  <button id="menu_reqbutton"  onmouseout="ReqmenuU1()" onmouseover="ReqmenuU()"><i class="fa fa-home"></i>&nbspHome</button>
     <input type="hidden" name="password" value="{{password}}">
  </form>
  
  <button id="menu1_reqbutton" onmouseout="Reqmenu1()" onmouseover="Reqmenu()"><a href="./logout" id="a-tag" style="text-decoration: none; color:#DC3545"><i class="fa fa-sign-out"></i>&nbspLogOut</a></button>
  
</div>


   <br>
   <div class="request_container">
    <img class="request_image" src="./w.png">
    <h2 class="request_h2">user experience.</h2><br><br>
  
    </div>
  <div class="cap" style="display: {{disp}}"> <p style="color: white; padding-left:5%;">{{comment}}</p></div>     
    
    <form action="/submitted" method="POST" autocomplete="off">
    <div class="form-row">    
    
    <div class="request_form_container">   
    <p class="request_p">REQUEST BOX</p>
    <input type="hidden" name="username" value="{{name}}">
    <input type="hidden" name="password" value="{{password}}">
    <input class="request_input" type="text" name="task" placeholder="title" maxlength="14" required>
    <textarea class="request_input1" type="text" name="request" placeholder="Example: &#10;Hi guys, i will be needing a Banner. Basically for a mobile phone. Please use serif font for the header and sans serif for the body" required></textarea><br>
    <p class="request_p1">Date of Delivery</p>
     <input type="date" class="request_select" id="req" name="date"><br><br><br>
     <button value="submit" class="Request_button">Thank You!</button><br><br>
    </div>

    

    </form>

<script>
    function Reqmenu(){
        document.getElementById("a-tag").style.color = "white"
         document.getElementById("menu1_reqbutton").style.backgroundColor = "#DC3545"
    }

    function Reqmenu1(){
        document.getElementById("a-tag").style.color = "#DC3545"
        document.getElementById("menu1_reqbutton").style.backgroundColor = "rgba(52,58,64,0.3)"
    }

     function ReqmenuU(){
        document.getElementById("menu_reqbutton").style.color = "white"
         document.getElementById("menu_reqbutton").style.backgroundColor = "#28A745"
    }

    function ReqmenuU1(){
        document.getElementById("menu_reqbutton").style.color = "#28A745"
        document.getElementById("menu_reqbutton").style.backgroundColor = "rgba(52,58,64,0.3)"
    }
</script>